<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body style="background-image: url('/img/background.jpg');">
    <div class="main-content" >
        {{>header}}

        <p style="color: white;">Search a location by name (Country/City/Location) to get the weather!</p>
        <form>
            <input type="text" placeholder="Location" required class="location-input">
            <button class="location-search-button">Search</button>
            <p id="dataMessage" style="color: white;"></p>
            <p id="errorMessage" style="color: white;"></p>
        </form>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>